# macOS
.DS_Store
.AppleDouble
.LSOverride
._*

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Linux
*~

# Editors / IDEs
.idea/
*.swp
*.swo
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json

# Backup / temp
*.bak
*.tmp
*.log
